@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");
html,
body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  html,
  body {
    font-size: 16px;
  }
}

.container {
  padding-left: 30px;
}
@media (min-width: 992px) {
  .container {
    padding-left: 90px;
  }
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.section-title p {
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.section-title h2 {
  padding-bottom: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
@media (min-width: 992px) {
  .section-title p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .section-title h2 {
    font-size: 35pt;
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .section-title h2 {
    font-size: 45px;
  }
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #161718;
  text-decoration: none;
  padding: 12px 25px 11px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}
@media (min-width: 1200px) {
  .btn-yellow {
    font-size: 16px;
  }
}

.btn-transparent {
  background-color: #F0EFE9;
  border: 1px solid #191919;
  color: #171717;
  text-decoration: none;
  padding: 12px 25px 11px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 25px 11px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

header {
  background-color: #F0EFE9;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars" "logo menu";
}
header .container .btn-menubars {
  grid-area: bars;
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .btn-menubars {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
}
header .container .contactinformation-bar {
  grid-area: cib;
  align-items: center;
  display: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .socialmedia-bar {
  grid-area: social;
  align-items: center;
  display: none;
}
header .container .socialmedia-bar a {
  color: #191919;
  font-size: 1.2rem;
  margin-left: 12px;
}
header .container .socialmedia-bar a:hover {
  color: #7c7c7c;
}
header .container .menu {
  grid-area: menu;
  align-items: center;
  justify-content: space-between;
  display: none;
  margin-left: 30px;
  border-top: 1px solid #DAD9D3;
}
header .container .menu .menubar {
  font-size: 15px;
  font-weight: 400;
  display: none;
}
header .container .menu .menubar a {
  color: #191919;
  text-decoration: none;
  position: relative;
}
header .container .menu .menubar a.active {
  font-weight: 500;
}
header .container .menu .menubar a.active::after, header .container .menu .menubar a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .login {
  grid-area: login;
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
  header .container .contactinformation-bar {
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-left: 12px;
  }
  header .container .contactinformation-bar .contact-box {
    border-right: 1px solid #DAD9D3;
    padding-right: 10px;
    padding-left: 20px;
  }
  header .container .contactinformation-bar .contact-box i {
    margin-right: 5px;
    font-size: 1.2em;
  }
  header .container .contactinformation-bar .contact-box.last {
    border: none;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .container .contactinformation-bar .contact-box.last {
    display: none;
  }
}
@media (min-width: 992px) {
  header .container .socialmedia-bar {
    display: flex;
    align-items: center;
  }
  header .container .menu {
    align-items: center;
    display: flex;
    padding-top: 30px;
    padding-bottom: 5px;
  }
  header .container .menu .menubar {
    display: flex;
    gap: 35px;
  }
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .wavy-lines {
  position: absolute;
  width: 60%;
  height: auto;
  left: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-width: 992px) {
  .showcase .wavy-lines {
    width: 40%;
    height: auto;
  }
}
.showcase .container {
  display: block;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.showcase .container .content p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #595856;
}
.showcase .container .content .showcase-btns {
  margin-left: 50px;
  margin-right: 50px;
}
.showcase .container .content .showcase-btns a {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 60px;
  }
  .showcase .container .content p {
    font-size: 20px;
  }
  .showcase .container .content .showcase-btns a {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (min-width: 992px) {
  .showcase .container .content {
    margin-left: 0;
    margin-right: -10px;
    margin-top: 10px;
    padding-bottom: 120px;
  }
  .showcase .container .content h1 {
    line-height: 1.2;
    padding-bottom: 10px;
  }
  .showcase .container .content p {
    padding-bottom: 20px;
  }
  .showcase .container .content .showcase-btns {
    display: flex;
    gap: 25px;
    padding-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .showcase .container .content .showcase-btns a {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 85px;
  }
}
.showcase .container img {
  display: none;
  margin-right: 0;
}
@media (min-width: 992px) {
  .showcase .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .showcase .container img {
    display: block;
    width: 75%;
    height: auto;
    margin-left: 50px;
    margin-right: -40px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content .showcase-btns {
    display: flex;
    gap: 25px;
  }
  .showcase .container img {
    all: initial;
    margin-left: 20px;
    margin-right: -40px;
  }
}

.partners .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 30px;
  padding-right: 0px;
}
.partners .container .partner img {
  width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  .partners .container {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    margin-top: 20px;
    margin-bottom: 100px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .partners .container .partner img {
    all: initial;
  }
}

.features .container {
  display: block;
  padding-top: 20px;
  align-items: center;
  border: 1px solid #CFCFCF;
}
.features .container .section-title a {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 50px;
}
@media (min-width: 992px) {
  .features .container .section-title {
    margin-right: 100px;
  }
  .features .container .section-title a {
    margin-bottom: 200px;
  }
}
@media (min-width: 1200px) {
  .features .container .section-title h2 {
    margin-right: 90px;
  }
}
.features .container .features-box .feature-article {
  text-decoration: none;
  color: #191919;
}
.features .container .features-box .feature-article h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}
.features .container .features-box .feature-article p {
  color: #5E5E5E;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .features .container .features-box .feature-article {
    margin-bottom: 40px;
    margin-right: 100px;
  }
  .features .container .features-box .feature-article h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .features .container {
    display: flex;
  }
  .features .container .section-title {
    flex: 1;
    margin-top: 70px;
  }
  .features .container .features-box {
    flex: 1.2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 75px;
  }
}

.about .container {
  align-items: center;
  padding-left: 0;
  padding-top: 20px;
}
.about .container .founder {
  position: relative;
}
.about .container .founder img {
  width: 100%;
  height: auto;
}
.about .container .founder .bluebox {
  position: absolute;
  margin-left: 10px;
  bottom: 10%;
  background-color: #BEEBFF;
  border: 1px solid #85C5F8;
  width: 70%;
  height: auto;
}
.about .container .founder .bluebox h4 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.about .container .founder .bluebox span {
  color: #F94D1C;
  font-size: 12px;
  font-weight: 700;
}
.about .container .founder .bluebox p {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}
.about .container .section-title {
  margin-top: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
  align-items: center;
}
.about .container .section-title .company-paragraph {
  color: #5E5E5E;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
}
.about .container .section-title .btn-black {
  margin-right: 10px;
  display: block;
  align-items: center;
  text-align: center;
}
.about .container .section-title .video-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.about .container .section-title .video-btn a {
  font-size: 16px;
  margin-right: 10px;
  color: #191919;
  text-decoration: none;
}
@media (min-width: 992px) {
  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .about .container .founder {
    padding-right: 70px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .about .container .founder {
    margin-right: 60px;
  }
  .about .container .founder img {
    all: initial;
  }
  .about .container .founder .bluebox {
    width: 60%;
    bottom: 7%;
    padding: 30px 30px 40px 20px;
  }
  .about .container .section-title {
    margin-bottom: 45px;
  }
  .about .container .section-title h2 {
    margin-right: 0px;
  }
  .about .container .section-title p {
    padding-bottom: 30px;
  }
  .about .container .section-title .company-paragraph {
    font-size: 16px;
  }
  .about .container .section-title .aboutcompany-btns {
    margin-top: 60px;
  }
  .about .container .section-title .aboutcompany-btns .btn-black {
    display: inline;
    margin-right: 40px;
  }
  .about .container .section-title .aboutcompany-btns .video-btn {
    display: inline;
  }
  .about .container .section-title .aboutcompany-btns .video-btn a img {
    margin-right: 20px;
  }
}

.why-us {
  position: relative;
  z-index: 0;
}
.why-us .container {
  display: block;
  align-items: center;
}
.why-us .container .section-title {
  align-items: center;
}
.why-us .container .section-title .work-methodology {
  color: #191919;
  text-decoration: none;
  display: flex;
  gap: 20px;
}
.why-us .container .section-title .work-methodology h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.why-us .container .section-title .work-methodology p {
  color: #5E5E5E;
  margin-bottom: 20px;
}
.why-us .container .image-box {
  display: none;
}
@media (min-width: 768px) {
  .why-us .container .section-title .work-methodology {
    margin-right: 280px;
    margin-left: 30px;
  }
}
@media (min-width: 992px) {
  .why-us .container {
    display: flex;
  }
  .why-us .container .section-title .work-methodology {
    margin-right: 0;
    margin-left: 0;
  }
  .why-us .container .image-box {
    display: block;
    margin-top: 100px;
  }
  .why-us .container .image-box img {
    width: 100%;
    height: auto;
  }
  .why-us .container .image-box .grey-box {
    position: absolute;
    background-color: #F0EFE9;
    width: 40%;
    height: 20%;
    bottom: 153px;
    right: 0;
    z-index: -1;
  }
}/*# sourceMappingURL=style.css.map */