//Mobile design
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');

html,body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16;
    font-weight: 400;
    line-height: 1.5;
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto  1fr auto;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #161718;
    text-decoration: none;
    padding: 12px 25px 11px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.btn-transparent {
    background-color: #F0EFE9;
    border: 1px solid #191919;
    color: #171717;
    text-decoration: none;
    padding: 12px 25px 11px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

header {
    background-color: #F0EFE9;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo bars"
                             "logo menu";

        .btn-menubars{
            grid-area: bars;
            border: none;
            font-size: 25px;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            }
        }
        .logotype{
            grid-area: logo;
        }
        .contactinformation-bar{
            grid-area: cib;
            align-items: center;
            display: none;
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            font-weight: 300;
        }
        .socialmedia-bar{
            grid-area: social;
            align-items: center;
            display: none;
            
            a {
                color: #191919;
                font-size: 1.3rem;
                margin-left: 12px;

                &:hover {
                    color: #7c7c7c;
                }
            }
        }
        .menu{
            grid-area: menu;
            align-items: center;
            justify-content: space-between;
            display: none;
            margin-left: 30px;
            border-top: 1px solid #DAD9D3;

            .menubar {
                font-size: 15px;
                font-weight: 400;
                display: none;

                a {
                    color: #191919;
                    text-decoration: none;
                    position: relative;

                    &.active {
                        font-weight: 500;
                    }

                    &.active::after,
                    &:hover::after{
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate(calc(50% - 15px));
                    }
                }
            }
        }

        .login{
            grid-area: login;
        }

        @media (min-width: 992px){
            grid-template-columns: auto 1fr auto;
            grid-template-areas: "logo cib social"
                                 "logo menu menu";
                                 
            .contactinformation-bar {
                display: flex;
                align-items: center;
                padding-top: 15px;
                margin-left: 12px;
                

                .contact-box {
                    border-right: 1px solid #DAD9D3;
                    padding-right: 40px; 
                    padding-left: 20px;

                    i {
                        margin-right: 5px;
                        font-size: 1.2em;
                    }

                    &.last {
                        border: none;

                        @media (max-width: 1200px) {
                            display: none;
                        }
                    }
                }
            }
            .socialmedia-bar {
                display: flex;
                align-items: center;
            }
            .menu{
                align-items: center;
                display: flex;
                padding-top: 30px;
                padding-bottom: 5px;
                
                .menubar {
                    display: flex;
                    gap:35px;
                }
            }

        }
    }
}


// Might want to adjust wavy line to fixed sizes
.showcase {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;
    
    .wavy-lines {
        position: absolute;
        width: 60%;
        height: auto;
        left: 0;
        bottom: 0;
        z-index: -1;

        @media (min-width: 992px){
            width: 40%;
            height: auto;
        }
    }

    .container {
        display: block;
        margin-top: 100px;

        .content {
            margin-left: 50px;
            margin-right: 50px;

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 30px;
            }

            p {
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: #595856;
            }

            .showcase-btns {
                a {
                    display: block;
                    text-align: center;
                    margin-bottom: 10px;
                }   
            }

            @media (min-width: 768px) {
                
                h1 {
                    font-size: 60px;
                }

                p {
                    font-size: 20px;
                }
                
                .showcase-btns{
                    a {
                        margin-left: 100px;
                        margin-right: 100px;
                    }
                }
            }

            @media (min-width: 992px) {
                margin-left: 0;
                margin-right: 50px;
                margin-top: 10px;
                padding-bottom: 120px;

                h1 {
                    line-height: 1.2;
                    padding-bottom: 10px;
                }

                p {
                    padding-bottom: 20px;
                }
                .showcase-btns{
                    display: flex;
                    gap: 25px;
                    padding-top: 10px;
                    a {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }

            }

            @media (min-width: 1400px){
                
                h1{
                    font-size: 90px;
                }
            }
        }
        img {
            display: none;
            margin-right: 0;
        }
        
        @media (min-width: 992px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            img {
                display: block;
                width: 75%;
                height: auto;
                margin-left: 50px;
                margin-right: -40px;
            }
        }

        @media (min-width: 1400px) {
            .content {
                .showcase-btns{
                    display: flex;
                    gap: 25px;
                }
            }

            img {
                all: initial;
                margin-right: -40px;
            }
        }
    }
}

.partners {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding-top: 30px;
        padding-right: 0px;

        .partner {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    @media (min-width: 992px) {
        .container {
            display: flex;
            justify-content: space-between;
            padding-top: 60px;

            @media (min-width: 1200px) {
                .partner {
                    img {
                        all:initial;
                    }
                }
            }
        }
    }
}

//Tablet 768px (720px) design

//Laptop design 1200px (1140px)?
       
//Bigscreen design 1400px(1320px)