//Mobile design
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');

html,
body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;

    @media (min-width: 1200px) {
        font-size: 16px;
    }
}

.container {
    padding-left: 30px;

    @media (min-width: 992px) {
        padding-left: 90px;
    }
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.section-title {

    p {
        color: #F94D1C;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 500;
    }

    h2 {
        padding-bottom: 20px;
        font-family: 'DM Sans', sans-serif;
        font-size: 26px;
        font-weight: 700;
    }

    @media (min-width: 992px) {

        p {
            font-size: 18px;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 35pt;
            margin-bottom: 22px;
        }
    }

    @media (min-width: 1200px) {

        h2 {
            font-size: 45px;
        }
    }
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #161718;
    text-decoration: none;
    padding: 12px 25px 11px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }

    @media (min-width: 1200px) {
        font-size: 16px;
    }
}

.btn-transparent {
    background-color: #F0EFE9;
    border: 1px solid #191919;
    color: #171717;
    text-decoration: none;
    padding: 12px 25px 11px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 25px 11px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #FFFFFF;
        border: 1px solid #191919;
        color: #191919;
    }
}

.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #F0EFE9;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo bars"
            "logo menu";

        .btn-menubars {
            grid-area: bars;
            border: none;
            font-size: 25px;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            }
        }

        .logotype {
            grid-area: logo;
        }

        .contactinformation-bar {
            grid-area: cib;
            align-items: center;
            display: none;
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            font-weight: 300;
        }

        .socialmedia-bar {
            grid-area: social;
            align-items: center;
            display: none;

            a {
                color: #191919;
                font-size: 1.2rem;
                margin-left: 12px;

                &:hover {
                    color: #7c7c7c;
                }
            }
        }

        .menu {
            grid-area: menu;
            align-items: center;
            justify-content: space-between;
            display: none;
            margin-left: 30px;
            border-top: 1px solid #DAD9D3;

            .menubar {
                font-size: 15px;
                font-weight: 400;
                display: none;

                a {
                    color: #191919;
                    text-decoration: none;
                    position: relative;

                    &.active {
                        font-weight: 500;
                    }

                    &.active::after,
                    &:hover::after {
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate(calc(50% - 15px));
                    }
                }
            }
        }

        .login {
            grid-area: login;
        }

        @media (min-width: 992px) {
            grid-template-columns: auto 1fr auto;
            grid-template-areas: "logo cib social"
                "logo menu menu";

            .contactinformation-bar {
                display: flex;
                align-items: center;
                padding-top: 15px;
                margin-left: 12px;


                .contact-box {
                    border-right: 1px solid #DAD9D3;
                    padding-right: 10px;
                    padding-left: 20px;

                    i {
                        margin-right: 5px;
                        font-size: 1.2em;
                    }

                    &.last {
                        border: none;

                        @media (max-width: 1200px) {
                            display: none;
                        }
                    }
                }
            }

            .socialmedia-bar {
                display: flex;
                align-items: center;
            }

            .menu {
                align-items: center;
                display: flex;
                padding-top: 30px;
                padding-bottom: 5px;

                .menubar {
                    display: flex;
                    gap: 35px;
                }
            }

        }
    }
}

// Might want to adjust wavy line to fixed sizes
.showcase {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    .wavy-lines {
        position: absolute;
        width: 60%;
        height: auto;
        left: 0;
        bottom: 0;
        z-index: -1;

        @media (min-width: 992px) {
            width: 40%;
            height: auto;
        }
    }

    .container {
        display: block;

        .content {

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 30px;
            }

            p {
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 14px;
                color: #595856;
            }

            .showcase-btns {
                margin-left: 50px;
                margin-right: 50px;

                a {
                    display: block;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }

            @media (min-width: 768px) {

                h1 {
                    font-size: 60px;
                }

                p {
                    font-size: 20px;
                }

                .showcase-btns {
                    a {
                        margin-left: 100px;
                        margin-right: 100px;
                    }
                }
            }

            @media (min-width: 992px) {
                margin-left: 0;
                margin-right: -10px;
                margin-top: 10px;
                padding-bottom: 120px;

                h1 {
                    line-height: 1.2;
                    padding-bottom: 10px;
                }

                p {
                    padding-bottom: 20px;
                }

                .showcase-btns {
                    display: flex;
                    gap: 25px;
                    padding-top: 10px;
                    margin-left: 0;
                    margin-right: 0;

                    a {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }

            }

            @media (min-width: 1400px) {

                h1 {
                    font-size: 85px;
                }
            }
        }

        img {
            display: none;
            margin-right: 0;
        }

        @media (min-width: 992px) {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                display: block;
                width: 75%;
                height: auto;
                margin-left: 50px;
                margin-right: -40px;
            }
        }

        @media (min-width: 1400px) {
            .content {
                .showcase-btns {
                    display: flex;
                    gap: 25px;
                }
            }

            img {
                all: initial;
                margin-left: 20px;
                margin-right: -40px;
            }
        }
    }
}

.partners {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding-top: 30px;
        padding-right: 0px;

        .partner {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    @media (min-width: 992px) {
        .container {
            display: flex;
            justify-content: space-between;
            padding-top: 60px;
            margin-top: 20px;
            margin-bottom: 100px;

            @media (min-width: 1200px) {
                .partner {
                    img {
                        all: initial;
                    }
                }
            }
        }
    }
}

.features {

    .container {
        display: block;
        padding-top: 20px;
        align-items: center;
        border: 1px solid #CFCFCF;

        .section-title {

            a {
                display: block;
                text-align: center;
                margin-bottom: 20px;
                margin-right: 50px;
            }

            @media (min-width: 992px) {
                margin-right: 100px;
                
                a {
                    margin-bottom: 200px;
                }

            }

            @media (min-width: 1200px) {

                h2 {
                    margin-right: 90px;
                }
            }
        }

        .features-box {

            .feature-article {
                text-decoration: none;
                color: #191919;

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    margin-top: 10px;
                }

                p {
                    color: #5E5E5E;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 20px;
                }
            }

            @media (min-width: 992px) {
                .feature-article {
                    margin-bottom: 40px;
                    margin-right: 100px;

                    h3 {
                        margin-top: 30px;
                        margin-bottom: 20px;
                        font-size: 22px;
                    }

                }
            }
        }

        @media (min-width: 992px) {
            display: flex;

            .section-title {
                flex: 1;
                margin-top: 70px
            }

            .features-box {
                flex: 1.2; //size compared to .section-title
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 75px;
            }
        }
    }
}

.about {

    .container {
        align-items: center;
        padding-left: 0;
        padding-top: 20px;

        .founder {
            position: relative;

            img {
                width: 100%;
                height: auto;
            }

            .bluebox {
                position: absolute;
                margin-left: 10px;
                bottom: 10%;
                background-color: #BEEBFF;
                border: 1px solid #85C5F8;
                width: 70%;
                height: auto;

                h4 {
                    color: #191919;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                }

                span {
                    color: #F94D1C;
                    font-size: 12px;
                    font-weight: 700;
                }

                p {
                    font-family: 'Inter', sans-serif;
                    font-style: italic;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }

        .section-title {
            margin-top: 20px;
            padding-left: 30px;
            padding-bottom: 30px;
            align-items: center;

            .company-paragraph {
                color: #5E5E5E;
                font-size: 14px;
                font-weight: 400;
                padding-bottom: 20px;
            }

            .btn-black {
                margin-right: 10px;
                display: block;
                align-items: center;
                text-align: center;
            }

            .video-btn {
                display: flex;
                justify-content: space-around;
                margin-top: 20px;

                a {
                    font-size: 16px;
                    margin-right: 10px;
                    color: #191919;
                    text-decoration: none;
                }

            }
        }

        @media (min-width: 992px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            .founder {
                padding-right: 70px;
            }

            @media (min-width: 1200px) {
                .founder {
                    margin-right: 60px;

                    img {
                        all: initial;
                    }

                    .bluebox {
                        width: 60%;
                        bottom: 7%;
                        padding: 30px 30px 40px 20px;
                    }
                }

                .section-title {
                    margin-bottom: 45px;
                    margin-left: 35px;
                    margin-right: 20px;

                    h2 {
                        margin-right: 0px;
                    }

                    p {
                        padding-bottom: 30px;
                    }

                    .company-paragraph {
                        font-size: 16px;
                    }

                    .aboutcompany-btns {
                        margin-top: 60px;

                        .btn-black {
                            display: inline;
                            margin-right: 40px;
                        }

                        .video-btn {
                            // display: inline;
                            text-align: left;
                            justify-content: left;

                            a {
                                img {
                                    margin-right: 10px;
                                }
                            }

                            @media (min-width: 1400px) {
                                display: inline;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Needs fixing, greybox and image are wrong.
.why-us {
    position: relative;
    z-index: 0;
    
    .container {
        display: block;
        align-items: center;
        

        .section-title {
            align-items: center;
            
            .work-methodology {
                color: #191919;
                text-decoration: none;
                display: flex;
                gap: 20px;

                h3 {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                p {
                    color: #5E5E5E;
                    margin-bottom: 20px;
                }
            }

        }

        .image-box {
            display: none;
        }

        @media (min-width: 768px) {
            
            .section-title {
                
                .work-methodology {
                    margin-right: 280px;
                    margin-left: 30px;
                }
            }    
        }

        @media (min-width: 992px) {
            display: flex;

            .section-title {
                .work-methodology {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            .image-box {
                display: block;
                margin-top: 100px;

                img {
                    width: 100%;
                    height: auto;
                }

                .grey-box {
                    position: absolute;
                    background-color: #F0EFE9;
                    width: 40%;
                    height: 20%;
                    bottom: 153px;
                    right: 0;
                    z-index: -1;
                }
            }
        }
    }
}

.project-and-case {
    .container {

        .section-title {
            text-align: center;
        }

        .project-and-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;

            }

            .project {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color: #191919;
                text-decoration: none;

                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #dad9d3;
                }
                
                .read-more {
                    padding: 15px;
                    display: block;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 14;
                    font-weight: 500;
                    text-decoration: none;
                    color: #191919;

                    i {
                        margin-left: 5px;
                    }
                }

                &:hover .read-more {
                    text-decoration: underline;
                }
            }
        }

        .center-btn {
            margin-top: 50px;
            margin-bottom: 60px;

            @media (min-width: 1200px) {
                margin-bottom: 90px;
            }
        }
    }
}

.testimonial {
    background-color: #F0D082;

    .container {
        background-color: #FFFFFF;
        align-items: center;
        
        .reviews {
            
            .review-box {

                .rating {
                    margin-bottom: 10px;
                }

                p {
                    color: #5E5E5E;
                    font-style: italic;
                }

                .reviewer {
                    margin-bottom: 5px;

                    img {
                        margin-bottom: 5px;
                    }
                    
                    h3 {
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 700;
                        font-size: 22px;
                    }

                    p {
                        color: #F94D1C;
                    }
                }
            }
        }

        .center-btn {
            margin-right: 20px;
            padding-bottom: 20px;
            
            a {
                text-align: center;
                width: 90%;
            }
        }

        @media (min-width: 968px) {
            display: block;
            align-items: center;
            text-align: center;
            padding-top: 100px ;
            padding-bottom: 70px;

            .reviews {
                display: flex;
                text-align: left;
                padding-top: 80px;

                .review-box {

                    .rating {
                        padding-bottom: 20px;
                    }

                    p {
                        padding-right: 80px;
                    }

                    .reviewer {
                        display: flex;
                        align-items: center;
                        padding-top: 20px;
                        padding-bottom: 70px;
                        
                        img {
                            padding-right: 20px;
                        }
                    }
                }
            }

            .center-btn {

                a {
                    width: auto;
                }
            }
        }
    }
}
// Subscribe button is broken at 992px->1400px
.newsletter {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    img {
        position: absolute;
        display: none;
        
        @media (min-width: 768px) {
            display: block;
            right: 0;
            bottom: 25%;
            z-index: -1;
        }
    }

    .container {
        display: block;
        text-align: center;
        margin-top: 20px;

        .newsletter-form {
            margin-top: 10px;
            display: flex;
            justify-content: center;

            form {
                margin-right: 20px;
                margin-bottom: 20px;

                input {
                    color: #8C8C8C;
                    font-family: 'Inter', sans-serif;
                    font-size: 16;
                    font-weight: 400;
                    width: 90%;
                    margin-bottom: 8px;
                    padding: 12px 25px 11px;
                    border-radius: 25px;
                    border: none;
                }

                button {
                    width: 90%;
                }
            }
        }

        @media (min-width: 992px) {
            display: flex;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 80px;

            .section-title {
                margin-right: 80px;
            }

            .newsletter-form {

                form {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    input {
                        width: auto;
                        margin-bottom: 0;
                    }

                    button {
                        width: auto;
                    }
                }
            }
        }

        @media (min-width: 1400px) {
            .section-title {
                margin-right: 120px;
            }
        }
    }
}

//Tablet 768px (720px) design

//Laptop design 1200px (1140px)?

//Bigscreen design 1400px(1320px)